name: Linux CI
on:
  push:
    branches:
      - "master"
  pull_request:
    branches: "*"
jobs:
  specs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crystal: [ '0.34.0', '0.35.0', '0.35.1', 'latest', 'nightly' ]
    name: Crystal ${{ matrix.crystal }} tests
    steps:
    - uses: actions/checkout@master
    - uses: oprypin/install-crystal@v1
      with:
        crystal: ${{ matrix.crystal }}
    - name: Print Crystal version
      run: crystal version
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec --error-on-warnings --error-trace
    - name: Run code format check
      run: |
        if ! crystal tool format --check; then
          crystal tool format
          git diff
          exit 1
        fi
